/* START TREE MENU */

.iish_widget body {
    /*font-family: Arial;*/
    /*font-size: 16px;*/
    line-height: 23px;
    /*background-color: #0f136a;*/
}

.iish_widget li {
    border-left: 1px solid #FF7300;
    padding: 0 0 10px 10px;
list-style:none;
	
    /*color: #FFFC00;*/
}

.iish_widget li.contentContainer {
    /*color: #FFFFFF;*/
    cursor: pointer;
}

.iish_widget li.contentViewing {
    /*background:url('down.png ') no-repeat -4px 6px;*/
    /*color: #FFFFFF;*/
    cursor: pointer;
}

.contentContainer ul, .contentViewing ul {
    /*color: #FFFC00;*/
    margin: 15px 0 0 10px;
}

.iish_widget ol, ul {
   list-style: none outside none;
}


.group_id{
    float: left;
    font-weight: bold;

}

.iish_widget .title{
    font-weight: bold;
}



.description{

}
