.label hyperlink {
    display: none;
}

.sru {
    display: none;
}

.sru index {
    display: none;
}

.sru relation {
    display: none;

}

.sru interfieldoperator {
    display: none;
}

.sru recordSchema {

    display: none;
}

.sru maximumRecords {

    display: none;
}

.label {
    display: none;

}

.label hyperlink {
    display: none;
}

.sru {
    display: none;
}

.sru index {
    display: none;
}

.sru relation {
    display: none;
}

.sru interfieldoperator {
    display: none;
}

.sru recordSchema {
    display: none;
}

.sru maximumRecords {
    display: none;
}

